# OS
.DS_Store

# cursor
.cursorrules

# Python
__pycache__/
__init__.py

*.egg-info/

# Docker
docker/

# IDE
.idea/

# Enviromentment variables
.env

# logs
log/
logs/

# agent works
.state/
src/works/
works/

# others
*.bkp
